/* .holder{
  width: max(100dvw-40px);
  height: max(100dvh-40px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc{
  background-color: rgb(3, 202, 224);
  padding: 0.5dvh 0.5dvw;
  width: 30dvw;
  height : 50dvh;
  display: grid;
  grid-template-columns: 9dvw 9dvw 9dvw;
  grid-template-rows: 15dvh 15dvh 15dvh;
  gap : 2dvh 1dvw;
}

button{
  padding: 7px;
  color : rgba(255, 6, 131, 0.838);
  background-color: rgb(255, 255, 255);
  width: 7.5dvw;
  height : 12dvh;
  border-radius: 40%;
  border: none;
  font-size: 1.5em;
}


button:hover{
  background-color: rgba(255, 6, 131, 0.838);
  color: white;
}

input{
  color: turquoise;
  width: 4.5;
} */